.message{
    background-color: rgb(240, 240, 240);
    font-size: 1em; 
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0.1em 0.1em 0.3em lightgray;
}

.admin{
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 20%;
}